
.landing {
  background: linear-gradient(#1A2975, rgb(29, 10, 48));
  height: 100vh;
  padding: 5vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing__logo {
  width: 70px;
  height: 70px;
}

.landing__title {
  font-family: "Nothing";
  color: $white;
  font-size: 80px;
  opacity: 0;
  animation: visible 2s 0.5s forwards;
}

.landing__line {
  height: 0%;
  opacity: 0;
  width: 2px;
  background-color: white;
  margin: auto;
}

.landing__line--first {
  animation: line 2s  0.2s forwards;
}

.landing__line--second {
  animation: line 1s  0.2s forwards;
}

.landing__subtitle {
  color: $purple;
  font-family: "Montserrat";
  font-weight: lighter;
  font-size: 50px;
  opacity: 0;
  animation: visible 6s forwards;
}

.landing__intro {
  color: $white;
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 160%;
  font-weight: lighter;
  width: 60vw;
  opacity: 0;
  text-align: center;
  animation: visible 1s 2s forwards;
  margin-bottom: 10vh;

  strong {
    font-weight: bolder;
  }
}

.scrollIcon {
  width: 25px;
  height: 40px;
  border-radius: 25px;
  border: 1px white solid;
  position: relative;
  opacity: 0;
  animation: visible 1s 2.5s forwards;

  &::before {
    content: '';
    display: block;
    height: 7px;
    width: 7px;
    border-radius: 50px;
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
    opacity: 0;
    animation: scroll 2s 2.8s infinite ease-out;
  }
}