
.landing {
  background: linear-gradient(#1A2975, rgb(29, 10, 48));
  height: 100vh;
  padding: 5vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.landing__logo {
  width: 50px;
  height: 50px;
  z-index: 1;
  margin-bottom: 30px;

  @include tablet {
    width: 70px;
    height: 70px;
  }
}

.landing__title {
  font-family: "Nothing";
  color: $white;
  font-size: 30px;
  text-align: center;
  opacity: 0;
  animation: visible 2s 0.5s forwards;
  z-index:1;
  line-height: 150%;

  @include tablet {
    font-size: 50px;
  }

  @include pc {
     font-size: 60px;
  }

  @include big {
    font-size: 80px;
  }
}

.landing__line {
  height: 0%;
  opacity: 0;
  width: 2px;
  background-color: white;
  margin: auto;
  z-index:1;
  display: none;

  @include tablet {
    display: flex;
  }
}

.landing__line--first {
  animation: line 2s  0.2s forwards;

}

.landing__line--second {
  animation: line 1s  0.2s forwards;
}

.landing__subtitle {
  color: $purple;
  font-family: "Montserrat";
  font-weight: lighter;
  font-size: 20px;
  opacity: 0;
  animation: visible 6s forwards;
  z-index:1;
  text-align: center;
  line-height: 150%;

  @include tablet {
    font-size: 30px;
  }

  @include pc {
    font-size: 50px;
  }

}

.landing__intro {
  color: $white;
  font-family: "Montserrat";
  font-size: 12px;
  line-height: 160%;
  font-weight: lighter;
  width: 80vw;
  opacity: 0;
  text-align: center;
  animation: visible 1s 2s forwards;
  z-index: 1;
  padding-top: 50px;
  padding-bottom: 20px;


  @include tablet {
    font-size: 16px;
    padding-top: 0;
    width: 60vw;
  }


  strong {
    font-weight: bolder;
  }


}

.scrollIcon {
  width: 25px;
  height: 40px;
  border-radius: 25px;
  border: 1px white solid;
  position: relative;
  opacity: 0;
  animation: visible 1s 2.5s forwards;
  z-index:1;


  &::before {
    content: '';
    display: block;
    height: 7px;
    width: 7px;
    border-radius: 50px;
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
    opacity: 0;
    animation: scroll 2s 2.8s infinite ease-out;
  }
}