.projects {
  height: 300px;
  background-color: rgb(29, 10, 48);
  max-height: 1500px;
  padding: 30px;
  display: flex;
  justify-content: center;
}

.projects__title {
  font-family: "Nothing";
  color: $white;
  font-size: 40px;
}
