@mixin fontface ($name, $woff, $woff2, $style, $weight) {
  
  @font-face {
    font-family: $name;
    src: url($woff) format("woff"), url($woff2) format("woff2");
    font-style: $style;
    font-weight: $weight; 
  }
}